@import "../../global.scss";
@import "../../app.scss";

.topbar{
    position: relative;
    height: $topBarHeight;
    background-color: $midLightcolor;
    width: 100%;
    display: flex;
    flex-direction: row;
    transition: all 2s ease;
    z-index: 3;

    .left{
        flex: 3;
        transition: all 2s ease;
    }
    .right {
        align-self: flex-end;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        transition: all 2s ease;
        .hamburger {
            margin-right: 25px;
            margin-left: 25px;
            width: 60px;
            height: 80px;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            cursor: pointer;

            span{
                background-color: black;
                width: 100%;
                height: 3px;
                transform-origin: left;
                transition: all 2s ease;
            }
        }
    }
    &.active {
        background-color: $darkColor;
        .left{
            @include mobile{
                opacity: 0;
            }
        }
        .right{
            align-self: center;
            align-items: center;
            @include mobile{
                transform: translateX(calc(-50vw + 60px));
            }
            .hamburger {
                color: white;
                span{
                    &:first-child {
                        background-color: white;
                        transform: rotate(45deg);
                    }
                    &:nth-child(2) {
                        opacity: 0;
                    }
                    &:last-child {
                        background-color: white;
                        transform: rotate(-45deg);
                    }
                }
            }
        }
    }
}
@keyframes slide-left {
    100% {
        transform: translate(-50vw);
    }
}
@keyframes slide-right {
    100% {
        transform: translate(0);
    }
}