@import "../../global.scss";

.topbar{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    transition: all 2s ease;
    .left{
        flex: 3
    }
    .right {
        align-self: flex-end;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        .hamburger {
            margin-right: 25px;
            width: 60px;
            height: 80px;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            cursor: pointer;

            span{
                background-color: black;
                width: 100%;
                height: 3px;
                transform-origin: left;
                transition: all 2s ease;
            }
        }
    }
    &.active {
        background-color: $darkColor;
        color: white;
        .hamburger {
            span{
                &:first-child {
                    background-color: white;
                    transform: rotate(45deg);
                }
                &:nth-child(2) {
                    opacity: 0;
                }
                &:last-child {
                    background-color: white;
                    transform: rotate(-45deg);
                }
            }
        }
    }
}