@import "../../global.scss";

.footer {
  @include themify($themes) {
    height: $footerHeight;
    width: 100%;
    transition: all 2s ease;

    position: fixed;
    margin-bottom: 10px;
    bottom: 0px;

    display: flex;
    flex-direction: row;

    // makes the footer in front of everything else
    z-index: 3;
    color: themed(textColor);

    .left {
      flex: 1;
    }
    .right {
      margin-right: 25px;
      display: flex;
      flex-direction: row;
      align-items: center;
      span {
        margin-right: 10px;
      }
    }
    &.active {
      transition: all 2s ease;
      color: white;
    }
  }
}
