$darkColor: #1462a6;
$midDarkColor: #447fc7;
$midColor: #689ee8;
$midLightcolor: #8bbeff;
$lightColor: #aedfff;

$mobileWidth: 768px;

@mixin mobile {
  @media (max-width: #{$mobileWidth}) {
    @content;
  }
}
